vti_encoding:SR|utf8-nl
vti_author:SR|Andrian-ПК\\Andrian
vti_modifiedby:SR|Andrian-ПК\\Andrian
vti_timelastmodified:TR|06 Oct 2014 15:15:15 -0000
vti_timecreated:TR|04 Oct 2014 21:54:27 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|pages/Story.html default.html pages/MyTravel.html
vti_nexttolasttimemodified:TW|06 Oct 2014 14:57:38 -0000
vti_cacheddtm:TX|06 Oct 2014 15:15:15 -0000
vti_filesize:IR|1574
vti_cachedlinkinfo:VX|S|img/bg.jpg
vti_cachedsvcrellinks:VX|FSUS|img/bg.jpg
